a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* navbar */

.env-informer {
    background: $custom-bluish;
}

#wrapper {
    padding-top: 70px;
}

/* banner section */
#banner {
    width: 100%;
    min-height: 500px;
}
.banner-content {
    width: 100%;
    min-height: 500px;
    background: rgb(0, 0, 0)
        url("../../../public/images/app/home-banner-bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    color: whitesmoke;
}

.overlay-home a {
    color: $custom-primary;
}

.overlay-home a:hover {
    opacity: 0.4;
}

/* actions section */
#actions {
    width: 100%;
    min-height: 300px;
}

/* recents section */
#recents {
    width: 100%;
    min-height: 300px;
    margin-bottom: 50px;
}

#recentsCarousel .carousel-inner {
    height: 100%;
}

#recentsCarousel .carousel-inner .card img {
    width: 100%;
    height: 100%;
}

/* announce section */
#announce {
    width: 100%;
    background: whitesmoke;
}

/* temporary wrapper */
#tempWrapper {
    margin-bottom: 20px;
}

/* organisations page */
// index
.card-image-handler {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.card-image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 100;
}
// show page
.mini-texts {
    font-size: 0.8rem;
}

.card-image-handler-lg {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
}
#appCarousel .carousel-item {
    width: 100%;
    height: 350px;
    position: relative;
}

#appCarousel .carousel-item::after {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    content: "";
    z-index: 2;
}

.carousel-control {
    z-index: 5;
}

#map {
    height: 200px;
    border: solid 1px rgba(0, 0, 0, 0.125);
    background: #f1f1f1;
}

// event page
// index
.event-card {
    border: none;
    border-right: solid 3px $blue;
}

// resources page
// audio section
.playlist-container {
    max-height: 300px;
    overflow-y: auto;
}

.playlist-container td:hover {
    cursor: pointer;
    background: #f1f1f1;
}

.playlist-container td.active {
    background: #ddd;
}

//
