body {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.btn-outline-custom {
    background: #fff;
    border: solid 1px $custom-primary;
    color: $custom-primary;
}

.btn-custom {
    color: #fff;
    background: $custom-primary;
}

.btn-custom:hover {
    opacity: 0.75;
    color: #fff;
}

.btn-outline-custom:hover {
    background: $custom-primary;
    color: #fff;
}

.text-custom-primary {
    color: $custom-primary;
}

.text-custom-grey {
    color: grey;
}

.navbar {
    border-bottom: solid 2px $custom-primary;
    background: #fff;
}

.navbar .navbar-nav .nav-item a.nav-link {
    color: #000;
}

.navbar .navbar-nav .nav-item a.nav-link:last-child {
    margin-right: 0;
}

.navbar .navbar-nav .nav-item a.nav-link:hover {
    margin-right: 0;
    color: $custom-primary;
    // border: solid 1.5px $custom-primary;
}

.navbar .navbar-nav .nav-item a.nav-link-active {
    color: $custom-primary;
    border-bottom: solid 1px $custom-primary;
    margin: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 1;
}

.overlay-secondary {
    background: $custom-secondary-tint;
}

.overlay-primary {
    background: $custom-primary-tint;
}

.overlay-dark {
    background: rgba(0, 0, 0, 0.25);
}

.main-link:hover {
    color: $custom-primary;
}

.main-link {
    color: #fff;
}

// CUSTOMIZED
#custom-banner {
    width: 100%;
    min-height: 19rem;
    padding-top: 0.65rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-banner-inner {
    width: 100%;
    min-height: 19rem;
}

// placeholders
.holder {
    width: 125px;
    height: 125px;
    background: $custom-primary;
    font-size: 3.5rem;
    font-weight: 600;
}

// home page
.icons-display {
    width: 60%;
    margin: auto;
}
.icons-display img {
    border-radius: 15px;
}

// background images
.home-banner {
    background: url("../../../public/images/app/banners/home-banner1.jpg");
    background-position: center;
}

.banner-organisation {
    background-image: url("../../../public/images//app/banners/organisation.jpg");
}

.banner-sermon {
    background-image: url("../../../public/images/app/banners/sermon.jpg");
}

.banner-profile {
    background-image: url("../../../public/images/app/banners/profile.jpg");
}

.banner-contact {
    background-image: url("../../../public/images/app/banners/contact-sample1.jpg");
}

.banner-about {
    background-image: url("../../../public/images/app/banners/profile-sample-1.jpg");
}
// footer styling
.footer-inner {
    background: $custom-footer-top;
    color: #fff;
}

.footer-inner input.form-control {
    background: transparent;
    border: solid 1px grey;
    color: grey;
}

footer p {
    color: grey;
}

footer a:hover {
    opacity: 0.75;
    color: grey;
}

// To be rectified
.icon-handler {
    padding: 8px 12px;
    background: $custom-primary-tint;
}
